body{
  background-color: salmon;
}

h1{
color:seashell;
background-color: black;
margin: 50px;
font-size: 3em;
text-align: center;
}

nav{
  font-size: 20px;
  margin: 10px;
}

/* index.html img file */
img{
  margin: auto;
}

table{
  /* border: thin rgb(24, 2, 2) solid; */
  margin: auto;
  font-size: 30px;
}

tr{
  border: thin black solid;
  padding: 10px;

}

td,th{
  border: thin black solid;
  padding: 10px;
}

footer{
  border: thin black solid;
}

