/* entire document */
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: salmon;
}

header{
  background-color: gray;
  font-size: 35px;
  height: 100px;
  text-align: center;
  border: 5px solid whitesmoke;
}

nav>a{
  padding: 300px;
  margin: 40px;
}

nav>img{
  width: 300px;
  margin-right: 60px;
  margin-left: 60px;
}